{% extends "customerNavbar.html" %}
{% block title %}
Khidmat
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-color:#eeeeee">
	<div class="container" >
		<div class="row m-0 p-2 pt-3">
			<div class="col-md-6 col-12 m-auto">
				<img src="{{url_for('static', filename='customer.png')}}" width="80%" >
			</div>
			<div class="col-md-6 col-12 m-auto">
				<h1 style="color:#00b1ff">Welcome Customer !!</h1>
				<p style="font-size: 19px;">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet facilisis ex sit amet lobortis. Mauris sed mi tortor. Sed laoreet risus et mauris pharetra, eu ultricies ex sollicitudin. Nulla
				</p>

			</div>

		</div>
	  
	</div>
  </div>
<br>
<div class="row row-cols-1 row-cols-md-4 g-4">
{% for i in x %}
<div class = "col">
	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title">{{i[0]}}</h5>
	    <h6 class="card-subtitle mb-2 text-muted">{{i[2]}}</h6>
	    <p class="card-text">{{i[1]}}</p>
	    <button type="button" class="btn btn-outline-primary">{{i[3]}}</button>
		<button type="button" class="btn btn-outline-secondary">{{i[4]}}</button>
	  </div>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}