{% extends "base.html" %}
{% block title %}
Orders
{% endblock %}
{% block content %}
<br>
<div class="row row-cols-1 row-cols-md-4 g-4">
{% for i in x %}
<div class = "col">
	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title">{{i[0]}}</h5>    
	    <p class="card-text">PickUp: {{i[1]}}</p>
	    <p>{{i[3]}},{{i[4]}} {{i[5]}}</p>
	    <p class="card-text">Drop: {{i[6]}}</p>
	    <p>{{i[7]}},{{i[8]}} {{i[9]}} {{i[10]}}</p>
	    <p class="card-text">Payment Mode: {{i[12]}} </p><p>Bill Amount: {{i[13]}}</p>
	    <button type="button" class="btn btn-outline-primary" href = '#'>View Summary</button>
	  </div>
	</div>
</div>
{% endfor %}
{% for i in y %}
<div class = "col">
	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title">{{i[0]}}</h5>    
	    <p class="card-text">PickUp: {{i[1]}}</p>
	    <p>{{i[2]}}, {{i[3]}},{{i[4]}} {{i[5]}} {{i[6]}}</p>
	    <p class="card-text">Drop: {{i[7]}}</p>
	    <p>{{i[8]}},{{i[9]}} {{i[10]}} {{i[11]}} {{i[12]}}</p>
	  </div>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}