{% extends "donorNavbar.html" %}
{% block title %}
Donations
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-color:#eeeeee">
	<div class="container" >
		<div class="row m-0 p-2 pt-3">
			<div class="col-md-6 col-12 m-auto">
				<img src="{{url_for('static', filename='donor.png')}}" width="70%" >
			</div>
			<div class="col-md-6 col-12 m-auto">
				<h1 style="color:#00b1ff">Welcome {{y[0][0]}}!!</h1>
				<p style="font-size: 19px;">
					True value of one's life can be measured if the person is able to make a significant difference in someone's life.				</p>

			</div>

		</div>
	  
	</div>
  </div>

<br>
<div class="container">
	<h2 style="color:#91612F; text-decoration: underline; text-align: center;" class="mt-3">Your donations</h2>
<form class="d-flex w-25 pt-2 m-auto" >
	<input class="form-control me-2" type="search" placeholder="Search orders" aria-label="Search" disabled>
	<button class="btn btn-success" type="submit" disabled>Search </button>
  </form>
  <br>

<div class="row m-0">
{% for i in z %}
<div class = "col-md-4 col-12  p-2">
	<div class="card h-100 m-auto" >
	  <div class="card-body">
	    <h5 class="card-title">Active Donation</h5>
	    <h6 class="card-subtitle mb-2 text-muted">{{i[0]}}	  <span class="badge bg-danger">{{i[4]}}</span></h6> 
	    <p class="card-text">Category: {{i[3]}}</p>
	    <p class="card-text">Quantity: {{i[5]}}</p>
	    <p class="card-text">{{i[2]}}</p>
	  </div>
	</div>
</div>
{% endfor %}
{% for i in x %}
<div class = "col-md-4 col-12  p-2">
	<div class="card h-100 m-auto" >
	  <div class="card-body">
	    <h5 class="card-title">{{i[6]}}</h5>
	    <h6 class="card-subtitle mb-2 text-muted">{{i[0]}}	  <span class="badge bg-success">{{i[4]}}</span></h6> 
	    <p class="card-text">Category: {{i[3]}}</p>
	    <p class="card-text">Quantity: {{i[5]}}</p>
	    <p class="card-text">{{i[2]}}</p>
	  </div>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}
