{% extends "base.html" %}
{% block title %}
Orders
{% endblock %}
{% block content %}
<br>
<div class="row row-cols-1 row-cols-md-4 g-4">
{% for i in x %}
<div class = "col">
	<div class="card" style="width: 18rem;">
	  <div class="card-body">
	    <h5 class="card-title">{{i[8]}}</h5>
	    <h6 class="card-subtitle mb-2 text-muted">{{i[0]}}	  <span class="badge bg-success">{{i[5]}}</span></h6> 
	    
	    <p class="card-text">Bill Amount: {{i[3]}}</p>
	    <p class="card-text">Paid Via: {{i[7]}}</p>
	    <button type="button" class="btn btn-outline-primary" href = '#'>View Summary</button>
	  </div>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}