{% extends "restaurantNavbar.html" %}
{% block title %}
Orders
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-color:#eeeeee">
	<div class="container" >
		<div class="row m-0 p-2 pt-3">
			<div class="col-md-6 col-12 m-auto">
				<img src="{{url_for('static', filename='restaurant.png')}}" width="65%" >
			</div>
			<div class="col-md-6 col-12 m-auto">
				<h1 style="color:#00b1ff">Welcome Restaurant!!</h1>
				<p style="font-size: 19px;">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet facilisis ex sit amet lobortis. Mauris sed mi tortor. Sed laoreet risus et mauris pharetra, eu ultricies ex sollicitudin. Nulla
				</p>
			</div>
		</div>
	</div>
  </div>
<br>

{% endblock %}