{% extends "restaurantNavbar.html" %}
{% block title %}
Profile
{% endblock %}
{% block content %}
<div class="card m-auto mt-5 p-2 mb-5" style="width:70%;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

<div class="bd-cheatsheet container-fluid bg-body">
{% for i in x %}
	<form action='#' method="post">
	<h2 style="color:#00b1ff"><img src="https://picsum.photos/60" style="border-radius: 30px;" class="me-3"><span>{{i[4]}}</span></h2>

	<p style="font-weight: 500;font-size: 115%; color:#91612F;">{{i[3]}}</p>

	<hr>

	<h3 style="text-decoration: underline;">Details</h3>
	<p class="m-0 pb-1">
		<span style="text-decoration: underline;">Name:</span> {{i[4]}}
		<button type="button" onclick="edit_name();" class="btn btn-warning btn-sm">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
				<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
			  </svg>
			EDIT</button>
		<input type="text" name="restaurant_name" id="restaurant_name" style="display: none;" />
	</p>
	<p class="m-0 pb-1">
		<span style="text-decoration: underline;">Description:</span> {{i[3]}} 
		<button type="button" onclick="edit_description();" class="btn btn-warning btn-sm">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
				<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
			  </svg>EDIT</button>
		<input type="text" name="description" id="description" style="display: none;" />
	</p>
	<p class="m-0 pb-1">		
		<span style="text-decoration: underline;">Phone:</span> {{i[5]}}
		<button type="button" onclick="edit_phone_no();" class="btn btn-warning btn-sm">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
				<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
			  </svg>EDIT</button>
		<input type="text" name="phone_no" id="phone_no" style="display: none;" />
	</p>
	<p class="m-0 pb-1"><span style="text-decoration: underline;">Restaurant type:</span> {{i[1]}} </p>		

	{% if i[11] == 1: %}
		<p class="m-0 pb-1"><span style="text-decoration: underline;">Dine in available:</span> Yes
			<button type="button" onclick="edit_dinein1();" class="btn btn-warning btn-sm">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
					<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
				  </svg>EDIT</button>
			<input type="text" name="dinein1" id="dinein1" style="display: none;" />
		</p>
	{% else: %}
		<p class="m-0 pb-1"><span style="text-decoration: underline;">Dine in available:</span> No
			<button type="button" onclick="edit_dinein2();" class="btn btn-warning btn-sm">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
					<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
				  </svg>EDIT</button>
			<input type="text" name="dinein2" id="dinein2" style="display: none;" />
		</p>
	{% endif %}
	<p class="m-0 pb-1"><span style="text-decoration: underline;">Day of Opening:</span> {{i[2]}}</p>

	<hr>


	<h3 style="text-decoration: underline;">Address:</h3>
	<p class="m-0 pb-1"> {{i[6]}}, {{i[7]}}</p>
	<p class="m-0 pb-1"> {{i[8]}}, {{i[9]}}</p>
	<p 
		class="m-0 pb-1"> {{i[10]}}
		<button type="button" onclick= "edit_address();" class="btn btn-warning btn-sm">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
				<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
			  </svg>EDIT</button>
	</p>

		<p> <label id = "street_label" style="display: none;">Street</label> 
			<input type="text" name="street" id="street" style="display: none;" /> 
		</p>
		<p> <label id = "area_label" style="display: none;"> Area</label> 
			<input type="text" name="area" id="area" style="display: none;" /> 
		</p>
		<p> <label id = "city_label" style="display: none;"> City</label> 
			<input type="text" name="city" id="city" style="display: none;" /> 
		</p>
		<p> <label id = "state_label" style="display: none;"> State</label> 
			<input type="text" name="state" id="state" style="display: none;" /> 
		</p>
		<p> 
			<label id = "pin_label" style="display: none;"> Pincode</label> 
			<input type="text" name="pin" id="pin" style="display: none;" />
		</p>

		<p>
			<br>
			<input type="submit" value="Confirm changes" class="btn btn-primary btn-lg" style="border-radius:30px"/>
		</p>
	</form>
{% endfor %}
</div>
</div>

<script language = "javascript" type = "text/javascript">
	function edit_address(){
		// function to hide and show address details
		// alert("Caution: Don't press confirm before entering all address fields")
	    if (document.getElementById("street").style.display == "none") {
	        document.getElementById("street").style.display = "block";
	        document.getElementById("area").style.display = "block";
	        document.getElementById("city").style.display = "block";
	        document.getElementById("state").style.display = "block";
	        document.getElementById("pin").style.display = "block";
	    	
	        document.getElementById("street_label").style.display = "block";
	        document.getElementById("area_label").style.display = "block";
	        document.getElementById("city_label").style.display = "block";
	        document.getElementById("state_label").style.display = "block";
	        document.getElementById("pin_label").style.display = "block";
	    } 
	    else {
	        document.getElementById("street").style.display = "none";
	        document.getElementById("area").style.display = "none";
	        document.getElementById("city").style.display = "none";
	        document.getElementById("state").style.display = "none";
	        document.getElementById("pin").style.display = "none";

	        document.getElementById("street_label").style.display = "none";
	        document.getElementById("area_label").style.display = "none";
	        document.getElementById("city_label").style.display = "none";
	        document.getElementById("state_label").style.display = "none";
	        document.getElementById("pin_label").style.display = "none";	    
	    }
	}

	function edit_phone_no(){
		// function to change phone number
		if(document.getElementById("phone_no").style.display == "block"){
			document.getElementById("phone_no").style.display = "none";
		}
		else{
			document.getElementById("phone_no").style.display = "block";
		}
	}

	function edit_description(){
		// function to change description
		if(document.getElementById("description").style.display == "block"){
			document.getElementById("description").style.display = "none";
		}
		else{
			document.getElementById("description").style.display = "block";
		}
	}

	function edit_name(){
		// function to change name
		if(document.getElementById("restaurant_name").style.display == "block"){
			document.getElementById("restaurant_name").style.display = "none";
		}
		else{
			document.getElementById("restaurant_name").style.display = "block";
		}
	}

	function edit_dinein1(){
		// function to change dine in
		if(document.getElementById("dinein1").style.display == "block"){
			document.getElementById("dinein1").style.display = "none";
		}
		else{
			document.getElementById("dinein1").style.display = "block";
		}
	}

	function edit_dinein2(){
		// function to change dine in
		if(document.getElementById("dinein2").style.display == "block"){
			document.getElementById("dinein2").style.display = "none";
		}
		else{
			document.getElementById("dinein2").style.display = "block";
		}
	}

</script>
{% endblock %}
